* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.postdiv {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
